.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.myButton {
    
	box-shadow: 0px 0px 0px 0px #3e7327;
	background-color:#ffffff;
	border-radius:28px;
	border:1px solid #4d0b4d;
	display:inline-block;
	cursor:pointer;
	color:#0f040f;
	font-family:Georgia;
	font-size:22px;
	padding:17px 39px;
	text-decoration:none;
	text-shadow:0px 1px 0px #662266;
    margin-top: 50px;
}
.myButton:hover {
	background-color:#a39e82;
}
.myButton:active {
	position:relative;
	top:1px;
}
